html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: table;
    width: 100%;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

#header-table {
    background-color: teal;
    color: white;
}

#header-table td {
    font-family: serif;
    font-size: 14pt;
}

td.left-header {
    text-align: left;
    padding-left: 5px;
}

td.right-header {
    text-align: right;
    padding-right: 5px;
}

#content-table {
    width: 80%;
    margin: auto;
}

.content-row > td:not(:last-child) {
    padding: 0 80px 0 0;
}

.x-choice-button {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.y-choice-field {
    width: 98%;
    border: 2px solid #8b3838;
    border-radius: 25px;
}

.y-choice-field:focus {
    outline: none;
}


.r-choice-button {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.value-header {
    font-weight: bold;
    color: #8b3838;
}

.x-button-active {
    background-color: teal;
    color: white;
}

.r-button-active {
    background-color: teal;
    color: white;
}

.invalid-choice {
    color: #8b3838;
    border-color: #8b3838;
}

.valid-choice {
    color: teal;
    border-color: teal;
}

.form-button-cell {
    width: 50%;
}

#submit-button {
    width: 100%;
    background-color: #008080;
    color: white;
}

#clear-button {
    width: 100%;
    color: white;
    background-color: #8b3838;
}

#result-table {
    background-color: rgba(186, 50, 50, 0.55);
    color: white;
    font-weight: bold;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

#result-table td, th {
    border-right: 2px solid #8b3838;
    border-left: 2px solid #8b3838;
}

#result-header th {
    height: 30px;
    border-bottom: 2px solid #8b3838;
    border-top: 2px solid #8b3838;
}

#result-rows:last-child {
    border-bottom: 2px solid #8b3838;
}

footer {
    text-align: center;
    background-color: teal;
    display: table-row;
    height: 1px;
}
