html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    background: teal;
    color: white;
    font-size: 14pt;
}

.text-box-right {
    text-align: right;
}

.main {
    flex: 0 0 auto;
}

footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: teal;
    vertical-align: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.input-text {
    border: 2px solid gray;
    border-radius: 10%;
}

.input-text:focus {
    outline: none;
}

.input-select {
    border: 2px solid gray;
    border-radius: 10%;
}

.input-select:focus {
    outline: none;
}

.radio-button {
    text-align: center;
}

input[type="radio"]{
    vertical-align: top;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-header {
    text-align: center;
    font-weight: bold;
}

.submit-button {
    background-color: teal;
    color: white;
}

.neutral {
    color: gray;
    border-color: gray;
}

.invalid {
    color: #8b3838;
    border-color: #8b3838;
}

.valid {
    color: teal;
    border-color: teal;
}

.content {
    margin: 0.5rem;
}

.result-table {
    flex: 1 0 auto;
    margin: 0.5rem;
}

#result-table {
    background-color: rgba(186, 50, 50, 0.55);
    color: white;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
}

#result-table td, th {
    border-right: 2px solid #8b3838;
    border-left: 2px solid #8b3838;
}

#result-header th {
    height: 30px;
    border-bottom: 2px solid #8b3838;
    border-top: 2px solid #8b3838;
}

#result-rows:last-child {
    border-bottom: 2px solid #8b3838;
}

#result-rows td {
    text-align: center;
}

#result-rows td:first-child {
    word-break: break-all;
}


